/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *
 *
 */
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300');

@font-face {
    font-family: 'billabongregular';
    src: font_url('billabong-webfont.woff2') format('woff2'),
         font_url('billabong-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
  background-color: #fafafa;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

a:hover {
  text-decoration: none;
}

.clear-fix {
  clear: both;
}

.top-nav {
  background-color: #fff;
  border-bottom: 1px solid rgba(0,0,0,.0975);
  height: 77px;
  padding-top: 18px;
}

.brand {
  color: rgba(0,0,0,.875);
  font-size: 25px;
}

.logo {
  font-family: 'billabongregular', cursive;
  font-size: 35px;
  margin-left: 8px;
}

.logo-img {
  margin-right: 8px;
}

.top-nav .add {
  margin-top: 8px;
  padding-right: 35px;
}

.top-nav .add a {
  font-weight: bold;
  color: #125688;
  font-size: 16px;
  padding-left: 8px;
}

.card {
  background-color: #fff;
  border-radius: .25rem;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  border: 1px solid #e8e8e8;
  margin-top: 40px;
  padding: 0;
}

.handle {
  margin: 10px;
  color: #125688;
  font-weight: bold;
  font-size: 16px;
}

.card p, .card .message {
  font-size: 18px;
  margin: 20px;
}

.card.form {
  padding: 20px;
}

label {
  font-size: 18px;
}

input {
  font-size: 18px;
  font-weight: 400;
}

.my-btn {
  background-color: #125688;
  width: 100%;
  border: none;
  font-size: 24px;
  color: white;
  margin-top: 10px;
}

.input.boolean {
  margin-left: 18px;
  margin-top: 5px;
}

.input.boolean label {
  margin-top: 5px;
  line-height: 44px;
}

.boolean.optional {
  margin-right: 5px;
}

.gram-actions a {
  font-weight: bold;
  font-size: 16px;
  margin-left: 20px;
}

.control-label {
  margin-right: 5px;
}

.comments {
  padding: 20px;
}

.comment {
  font-size: 16px;
  margin-top: 5px;
}

.comment_handle {
  color: #125688;
  font-weight: bold;
  font-size: 16px;
}
